<div class="loading" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
  <div style="font-size: xxx-large; font-weight: bold;">Loading...</div>
</div>
<div *ngIf="!isLoading">
<div style="background-image: url(assets/images/blackhands.jpg);" @left>
<div class="container" style="background-image: url(assets/images/blackhands.jpg)" alt="hands" @left>
    <main class="px-3">
    <p class="lead" @right>
        <br><br><br><br><br>
        <h1>TOGETHER we can make a DIFFERENCE</h1>
        <br><br><br><br><br>
    <div *ngIf="!authService.isAuthenticated()">
      <a routerLink="/authentication/signup"><button class="btn btn-lg btn-secondary fw-bold border-coral bg-white" style="margin-right: 50px;">Sign up</button></a>
      <a routerLink="/authentication/signin"><button class="btn btn-lg btn-secondary fw-bold border-coral bg-white">Sign in</button></a>
    </div>
    </main>
</div>
</div>
<br><br><br><br>
<div>
  <div *ngIf="latestThreeCauses" class="causes-home">
    <div class="panel" @right>
      <h2>Recent Causes</h2>
    </div>
    <br>
    <div class="panel-body">
      <div class="row">
        <app-cause *ngFor="let cause of latestThreeCauses " [cause]="cause" class="col-md-3" @left></app-cause>
      </div>
    </div>
  </div>
  <br><br><br>
  <div *ngIf="latestThreeEvents" class="events-home">
    <div class="panel" @right>
      <h2>Latest Events</h2>
    </div>
    <br>
    <div class="panel-body">
      <div class="row">
        <app-event *ngFor="let charityEvent of latestThreeEvents" [charityEvent]="charityEvent" class="col-md-3" @left></app-event>
      </div>
    </div>
    </div>
</div>
</div>
