<div class="loading" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
  <div style="font-size: xxx-large; font-weight: bold;">Loading...</div>
</div>
<div *ngIf="!isLoading">
<div *ngIf="user" id="profile" class="row my-2">
    <div class="col-lg-8 order-lg-2">
      <div class="tab-content py-4">
        <div class="tab-pane active">

          <div class="row">
            <h1> <span><i class="fas fa-user"></i></span> {{user.fullname}}</h1>
          </div>
          <br>
          <div class="row">
            <h1><span><i class="fas fa-envelope"></i></span>  {{user.email}}</h1>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <h2 @right>Donated to:</h2>
  <div *ngIf="user" class="row1">
    <app-cause *ngFor="let cause of user.donations" [cause]="cause" class="col-md-3" @left></app-cause>
    <div [hidden]="user.donations.length > 0" class="no-results">
      No donations has been made
    </div>
  </div>
  <br><br><br>
  <h2 @right>Joined Events:</h2>
  <div *ngIf="user" class="row1">
    <app-event *ngFor="let charityEvent of user.volounteerTo" [charityEvent]="charityEvent" class="col-md-3" @left></app-event>
    <div [hidden]="user.volounteerTo.length > 0" class="no-results">
      No joined events
    </div>
  </div>
</div>
  