.my-2 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
    display: block;
    margin-left: 25rem;
}

h2 {
    font-size: xx-large;
    font-weight: bold;
    background-color: darksalmon;
    color: darkslateblue;
    font-family: cursive;
    border: 3px;
    border-radius: 50px;
    margin-left: 30rem;
    margin-right: 30rem;
}

h1 {
    color: darkslateblue;
}

.row1 {
    display: inline-flex;
    margin-left: 7rem;
  }

.col-md-3 {
    flex: 0 0 auto;
    padding: 3rem;
    width: 25%;
}

.no-results {
    margin-right: 7rem;
    font-size: x-large;
}