<br><br><br>
<div class="loading" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
    <div style="font-size: xxx-large; font-weight: bold;">Loading...</div>
</div>
<div class="container" *ngIf="events">
    <div class="row space-top" @right>
        <div class="col-md-12">
            <h1>Our exciting events</h1>
            <p>Here are our exciting events...would be great to see you at the next one!</p>
        </div>
        <br><br><br>
    </div>
    <div class="panel-body" @left>
        <div class="row">
            <div class="col-md-3" *ngFor="let charityEvent of events | paginate: {
                itemsPerPage: pageSize,
                currentPage: currentPage
            }">
                <app-event [charityEvent]="charityEvent"></app-event>
            </div>
        </div>
    </div>
    <div class="no-results" *ngIf="events.length === 0" @left>
        There are no events added yet...
    </div>
    <pagination-controls *ngIf="events"
    (pageChange)="changePage($event)"
        (pageBoundsCorrection)="changePage($event)"
        previousLabel="Previous"
        nextLabel="Next"
        screenReaderPaginationLabel="Pagination"
        screenReaderPageLabel="page"
        screenReaderCurrentLabel="You're on page">
    </pagination-controls>
</div>