<br><br>
<div @right>
<span class="hero-background-placeholder"><img src="assets/images/who.png" alt="who we are" width="1300" height="200"></span>
</div>
  <br><br><br><br>
<section id="page-content"><div class="layout-container" >
    <div class="u-container u-width-8"><h2 class="heading-h2 -alternate" style="text-align: center;">CHARITY is a global network of neighbors, friends, <br> leaders, and problem-solvers who see a world where <br> people unite and take action to create lasting change –<br> across the globe, in our communities, and in ourselves.</h2>

<br><br><br>
<h3 @left>WHAT WE DO</h3>
<br>
<p class="p">We work together to:</p>
<br><br>
<ul>
<li>•  Promote peace</li><br>
<li>•  Fight disease</li><br>
<li>•  Provide clean water, sanitation, and hygiene</li><br>
<li>•  Save mothers and children</li><br>
<li>•  Support education</li><br>
<li>•  Grow local economies</li><br>
<li>•  Protect the environment</li>
</ul>
<br><br>
<h3 @left>OUR MISSION</h3>
<br>
<p>We provide service to others, promote integrity, and advance world understanding, goodwill, and peace through our fellowship of business, professional, and community leaders.</p>
<br><br><br><br>
<h3 @left>OUR VISION</h3>
<br>
<p>Together, we see a world where people unite and take action to create lasting change — across the globe, in our communities, and in ourselves.</p>
</div>
</div>
</section>