
<br>
<div class="container" @left>
    <div class="row space-top">
        <div class="col-md-12">
            <h1>Add New Cause</h1>
            <p>Please fill all fields.</p>
        </div>
    </div>
    <br>
    <form [formGroup]="form" (submit)="createCause()"> 
        <div class="row space-top">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-control-label" for="new-title">Title</label>
                    <input class="form-control" id="new-title" formControlName="title" type="text">
                </div>
                <div class="alert alert-danger" *ngIf="form.get('title')!.invalid && form.get('title')!.touched">
                    <div *ngIf="form.get('title')!.errors?.['required']">
                        Title is required
                    </div>
                    <div *ngIf="form.get('title')!.errors?.['minlength']">
                        Title must be at least {{form.get('title')!.errors?.['minlength'].requiredLength}} characters long.
                    </div>
                </div>
                <br>
                <div class="form-group has-success">
                    <label class="form-control-label" for="new-description">Description</label>
                    <textarea class="form-control" id="new-description" formControlName="description" type="text"></textarea>
                </div>
                <div class="alert alert-danger" *ngIf="form.get('description')!.invalid && form.get('description')!.touched">
                    <div *ngIf=" form.get('description')!.errors?.['required']">
                        Description is required.
                    </div>
                    <div *ngIf="form.get('description')!.errors?.['minlength']">
                        Description must be at least {{form.get('description')!.errors?.['minlength'].requiredLength}} characters long.
                    </div>
                </div>
                <br>
                <div class="form-group has-danger">
                    <label class="form-control-label" for="new-neededAmount">Needed Amount</label>
                    <input class="form-control" id="new-neededAmount" formControlName="neededAmount" type="number">
                </div>
                <div class="alert alert-danger" *ngIf="form.get('neededAmount')!.invalid && form.get('neededAmount')!.touched">
                    <div *ngIf="form.get('neededAmount')!.errors?.['required']">
                        Needed amount is required
                    </div>
                    <div *ngIf="form.get('neededAmount')!.errors?.['min']">
                        Needed amount must be a positive number.
                    </div>
                </div>
                <br>
               
                <div class="form-group">
                    <label class="form-control-label" for="new-image">Image</label>
                    <input class="form-control" id="new-image" formControlName="image" type="text">
                </div>
                <div class="alert alert-danger" *ngIf="form.get('image')!.invalid && form.get('image')!.touched">
                    <div *ngIf="form.get('image')!.errors?.['required']">
                        Image URL is required.
                    </div>
                    <div *ngIf="form.get('image')!.errors?.['pattern']">
                        Please provide a valid URL
                    </div>
                </div>
                <br><br>
                <button type="submit" class="btn btn-primary" value="Create" [disabled]="form.invalid">ADD</button>
            </div>
        </div>
    </form>
</div>

