<br><br><br>
<div class="loading" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
    <div style="font-size: xxx-large; font-weight: bold;">Loading...</div>
</div>
<div class="event-block-one" *ngIf="!isLoading" @left>
    <div class="inner-box">
        <div *ngIf="charityEvent.image" class="image" style="float:left; width: 500px;"><img src="{{charityEvent.image}}"
                alt="image"></div>
        <div class="lower-content">
            <h4>{{charityEvent.title}}</h4>
            <br><br>
            <div class="date">
                <div class="text"><span><i class="fas fa-calendar"></i></span> {{charityEvent.date.slice(0,10)}}</div>
                <div class="text"><span><i class="fas fa-clock"></i></span> {{charityEvent.time}}</div>
                <div class="text"><span><fa-icon [icon]="faLocationDot" class="dot"></fa-icon></span> {{charityEvent.location}}</div>
                <div class="text"><span><i class="fa fa-ticket"></i></span> {{charityEvent.ticketPrice}} €</div>
            </div>
            <br>
            <div class="text1">{{charityEvent.description}}</div>
            <br><br>
            <div class="people">{{charityEvent.volounteers.length}} joined the event</div>
            <br>
            <div class="bottom-content">
                <div *ngIf="!authService.isAdmin()">
                    <div *ngIf="canJoin" class="donation">
                        <a (click)="volounteer()"><button class="btn btn-lg btn-secondary fw-bold"
                            style="margin-right: 50px;">VOLOUNTEER<fa-icon class="icon" [icon]="faHandHoldingHeart"></fa-icon></button></a>
                    </div>
                </div>
            </div>
            <br>
            <div *ngIf="authService.isAdmin()" class="donation">
                <a routerLink="/event/edit/{{charityEvent._id}}"><button
                        class="btn btn-lg btn-secondary fw-bold" style="margin-right: 50px;">EDIT<fa-icon class="icon" [icon]="faEdit"></fa-icon></button></a>
                <a (click)="deleteEvent(charityEvent._id)"><button
                        class="btn btn-lg btn-secondary fw-bold">DELETE<fa-icon class="icon" [icon]="faTrash"></fa-icon></button></a>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!canJoin" @left class="donated">
    Thank You for joining us!
</div>